@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;

    --yellow: #FFE715;
    --dark-grey: #232B32;
    --light-grey: #3F4449;
    --dark: #101920;

}

body{
    margin-top: 10px;
    padding: 0px;
    background-color: var(--light-grey);
}

/*HOME*/
#nav{
    width: 90%;
    margin: auto;
    background-color: var(--dark-grey);
    height: 90px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -ms-border-radius: 12px 12px 0px 0px;
    -o-border-radius: 12px 12px 0px 0px;
}

.navItns{
    height: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItns #imgLogo{
   width: 10%;
}

.navItm{
    width: 50px;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255)
}

.navItm:hover{
    color: rgb(105, 105, 105)
}

.loginItm{
    display: flex;
}

.loginItm .navItm{
    float: right;
    width: auto;
    margin: 0px;
    text-decoration: none;
    text-align: right;
    color: rgb(255, 255, 255)
}

.loginItm .navItm:hover{
    color: rgb(105, 105, 105)
}

#content{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pageTitle{
    color: white;
    width: 100%;
    padding-left: 4%;
}

.box{
    background-color: var(--dark-grey);
    border-left: 5px solid #FFE715;
    width: 30%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

.songImg{
    width: 25%;
}

.songInfo{
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}

.songTitle{
    width: 200px;
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .5px;
}


p{
    padding: 0;
    margin: 0;
}

#footer{
    text-align: center;
    color: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    background-color: var(--dark-grey);
    height: 90px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    -ms-border-radius: 0px 0px 12px 12px;
    -o-border-radius: 0px 0px 12px 12px;
}

#footer a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/*INSERIR*/
#formTab{
    color: white;
}

/*EDITAR*/
.boxLink{
    padding: 0%;
    width: 30%;
    text-decoration: none;
    color: black;
    margin-right: .9%;
}

.boxLink .songInfo{
    height: 80px;
}

.boxLink:hover .box{
    border-left: 5px solid whitesmoke;
}

.boxLink .box{
    width: 100%;
}

/*REMOVER*/
.iconDiv{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.iconLink{
    width: 50%;
    margin: 5px;
}

.iconImg{
    width: 100%;
}

.iconLink:hover .iconImg{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/*EXTRAS*/
.alertas{
    background-color: green;
    color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.easter{
    color: white;
    text-decoration: none;
    cursor: text;
}

/* ALBUM PAGE */
.albumPage{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.album_banner{
    display: flex;
}

.album_banner .songImg{
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.album_banner .albumInfo{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.album_banner .albumTitle{
    font-size: 50px;
    color: white;
}

.album_banner .albumAno{
    font-size: 15px;
    color: white;
}

.musicShow{
    display: flex;
    flex-direction: column;
}

.musicShow .songInfo{
    margin: 2px;
    margin-left: 0;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    background-color: var(--dark-grey);
    border-left: 5px solid #FFE715;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

.musicShow .songTitle{
    width: 900px;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: var(--dark-grey);
    color: white;
}
  
/* Modal Body */
.modal-body {padding: 2px 16px;}
  
/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: var(--dark-grey);
    color: white;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--light-grey);
    margin: auto;
    margin-top: 50px;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}